@import '@fontsource/ubuntu';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400; /* Regular weight */
}
body {
    background-color: #ffcccc !important; /* Light Red */
}


h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700; /* Bold weight */
}

.light-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300; /* Light weight */
}

/* Add this to your custom CSS file */
.table-bordered {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

.table-bordered thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
